body {
    font-family: sans-serif;
    background-color: #f3f3f3;
}
body a {
    text-decoration: none;
}

.container {
    display: flex;
}

.container-body {
    width: 1138px;
    margin: 0 auto;
    position:relative;


}

/* HAMBURGER MENU */

.hamburger-menu {
    height: 100%;
    display: none;
    position: absolute;
    background-color: #10225f;
}

.hamburger-menu__content {
    padding: 0 0 46px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;

}

.hamburger-menu__tabs {
    margin-bottom: 33px;
    color: white;
    text-align: center;
}

.hamburger-menu__tabs > img {
filter: brightness(0) invert(1);
}

.hamburger-menu__tabs.logo {
    padding: 15px 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.hamburger-menu__tabs > .tabs-text{
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    display: none;
}

.hamburger-menu__footer-tabs {
    display: flex;
    position: absolute;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    justify-content: space-evenly;
    align-items:center;
    flex-direction: row;
    width: 100%;
    bottom: 0;
    left: 0;

}


.hamburger-menu__footer-tabs .footer-tab {
    margin: 10px 0;
}

/* HEADER */

.header{
    border-bottom: 1px solid #e2e2e2;
    height: 65px;
    display: flex;
        justify-content: space-between;
        align-items: center;
}

.header__leftSection, .header__rightSection {
    display: flex;
    justify-content: center;
    align-items: center;
}




.header__leftSection .header__button-tabs {
    margin: 0 8px 0 0;
    width: 24px;
    height: 24px;
}



.header__rightSection .header__button-tabs {
    margin: 0 10px 0 0;
    width: 24px;
    height: 24px;
}

.header__rightSection .header__button-tabs.info-ico {
    margin: 0 22px 0 9px;
}

.header__search-input {
    background-color: #f3f3f3;
    border: 1px solid #e2e2e2;
    padding: 4px 6px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 200;
}

.input-label {
    box-sizing: border-box;

    position: relative;
}

.input-label::before {
    content: url('../img/search-ico.png');
    position: absolute;
    right: 6px;
    top: 2px;
}


.header__date-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 17px;
    font-size: 14px;
    color: #585858;
}

.header__date-block:hover {
    background-color: #e5e5e5;
}

.header__date-block > * {
    margin: 0;
}


.header__button-tabs.bell, .header__button-tabs.acc {
    border-radius: 100%;
    background-color: #2358ae;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



.header__button-tabs.bell {
    padding: 2px;
    background-color: #2358ae;
        color: #fff;
    position: relative;
}

.header__button-tabs.acc {
    color: #fff;
    padding: 3px;
    background-color: #2b87c9;
    font-weight: 300;
}

.bell::before {
    content: '3';
    font-size: 10px;
    display: flex;
        justify-content: center;
        align-items: center;
    position: absolute;
    background-color: #c03030;
    width: 16px;
    height: 16px;
    right: -7px;
    top: -7px;
    border-radius: 100%;
    border: 1px solid white;
}

/* NOTIFICATIONS */

.bell__notifications-block {
    position: absolute;
    color: black;
    display: none;
    flex-direction: column;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    top: 50px;
    right: -50px;
    border: 1px solid #e2e2e2;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.3);
    z-index: 999;


}

.notifications-block__notification {
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    margin: 2px 0;
    padding: 5px;
}

.header__button-tabs.bell:hover > .bell__notifications-block {
    display: flex;
}

/* INFO BLOCK */

.header__button-tabs.info-ico:hover > .info-block {
    display: flex;
}

.info-ico {
    position: relative;
}

.info-block {
    position: absolute;
    color: black;
    display: none;
    flex-direction: column;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    top: 50px;
    left: -50px;
    border: 1px solid #e2e2e2;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.3);
    z-index: 999;
}




/* FAST MENU */

.fast-menu {
    border-bottom: 1px solid #e2e2e2;
    display: none;
    align-items: center;

}



.fast-menu > * {
    margin: 10px 28px 10px 0;
}

/* CARD BLOCK */

    .card-block{
        display: none;
        margin: 20px 0;
        overflow: hidden;
        padding: 15px;
    }

    .card {
        flex-shrink: 0;
        border: 1px solid #e2e2e2;
        display: inline-block;
        border-radius: 15px;
        margin: 0 5px 0 0;
        box-sizing: border-box;
        padding: 16px;
        box-shadow: 0 4px 6px 0 rgba(0,0,0,0.3);
        position: relative;

    }

    .card-title{
        font-size: 18px;
        font-weight: 400;
        color: #585858;
        margin: 0 0 8px 0;
    }

    .card-title .card-overBooking {
        padding: 5px 10px;
        margin: 0 5px;
        font-size: 14px;
        color: #c03030;
        border-radius: 10px;
        background-color: rgba(192, 48, 48, 0.3);
    }

    .card-link {
        color: #2b87c9;
        font-size: 14px;
        font-weight: 400;

    }
    .card-close {
    position: absolute;
    top: 17px;
    right: 20px;
    color: #000000;
    opacity: 0.5;
    font-size: 14px;

    }

    .card-info__element .element__text{
        color: #3a3a3a;
        font-size: 14px;
        font-weight: 400;
    }

/* MAIN */

.main-container {
 display: flex;
}

.main__left-block, .main__right-block {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    background-color: #fff;
    padding: 25px;
    box-sizing: border-box;

}

.main__left-block {
    width: 70%;
    margin: 0 16px 0 0;
    min-height: 500px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__right-block {
    width: 30%;
    height: 30%;

}

.main__title {
    color: #20387d;
    font-weight: 400;
    margin: 30px 0 5px 0;
        font-size: 24px;
}

.main__subtitle {
    color: #20387d;
    font-weight: 400;
    margin: 0 0 15px 0;
    font-size: 20px;
}

.left-block__content-block {
    display: flex;
    flex-direction: column;

}

.left-block__content-block .content-block__content {
    display: flex;
    font-size: 16px;
    padding: 18px 25px;
}

.left-block__content-block .content-block__content:nth-child(even) {
    background-color: #f5f5f5;
}

.left-block__content-block .content-block__content > * {
    font-weight: 400;
    width: 50%;
    text-align: left;
}

.left-block__footer {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    box-sizing: border-box;
    border-top: 1px solid #e2e2e2;
}

.footer__right-block__cancel-button{
    padding: 12px;
    font-size: 14px;
    margin: 0 8px 0 0;
    border: 1px solid #2e2e2e;
    color: #2e2e2e;
    box-sizing: border-box;
        font-weight: 200;
}

.footer__right-block__save-button{
    box-sizing: border-box;
    font-size: 16px;
    padding: 12px;
    color: #fff;
    background-color: #3d963c;
    font-weight: 200;

}

.footer__left-block__button {
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;
}



.right-block__reminder {
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reminder__text {
    margin: 15px 0;
}


.footer {
    margin: 20px 0 0 0;
    border-top: 1px solid #e2e2e2;
    display: flex;
    justify-content: space-between;

}

.footer__right-block, .footer__left-block {
    display: flex;
}

.footer-text {
    font-size: 14px;
    color: #000;
    opacity: 0.5;
    margin: 15px 5px;
 }